body{
    touch-action: manipulation;
}

h1 {
    text-align: center;
    padding: 0px;
    margin: 5px;
    font-family: sans-serif;
}

#cross-word {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.letter-row {
    display: flex;
}

.letter-box {
    font-family: sans-serif;
    margin: 2px;
    font-size: 0.8rem;
    font-weight: 700;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.visible-letter-box {
    border: 2px solid #d3d6da;
}

/* Border matching the background makes these boxes hidden
(but they still take up the space for alignment purposes) */
.hidden-letter-box {
    border: 2px solid white;
}

/* Gap size is the same as one crossword square */
.row-break {
    height: 1.5rem;
    margin: 4px;
}

#game-boards {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.game-board {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

#keyboard {
    margin: 0.2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.2rem;
    margin: 0 2px;
    width: 1.8rem;
    height: 3rem;
    border: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: lightgrey;
    vertical-align: middle;
}

.keyboard-button-long {
    width: 3rem;
    font-size: 0.7rem;
}

#results-container {
    position: absolute;
    top: 5rem;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#results {
    padding: 5px;
    justify-content: center;
    width: 20rem;
    border: solid 1px darkgrey;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}

#results-title {
    padding: 5px;
}

#results-table {
    display: grid;
    grid-template-columns: 20px 1fr;
    padding: 5px;
}

.results-number {
    text-align: right;
    padding: 5px;
    margin: 5px;
}

.results-bar {
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: darkgrey;
    color: white;
    width: 5%;
}

.results-bar-50 {
    width: 50% !important;
}